node_modules
.env
coverage
coverage.json
typechain
.idea
yarn-error.log

# Hardhat files
cache
artifacts

# Local deployments
deployments/localhost

# remove this when saving deployments
.openzeppelin/

# Mac
.DS_Store

# testnet logs
testnet/testnet-node-log.txt
