node_modules
artifacts
typechain
.env
coverage
coverage.json
.idea
.vscode
yarn-error.log

# Hardhat files
cache

# Local deployments
deployments/localhost
.openzeppelin/unknown-1337.json

# Mac
.DS_Store

# testnet logs
testnet/testnet-node-log.txt
